.card {
  width: 540px;
  margin-bottom: 100px;
}
.card__title {
  margin-bottom: 32px;
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__content {
  list-style: none;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 0;
}
.card__list-item {
  display: flex;
  margin-bottom: 16px;
}
.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #838383;
}

.card__title-list {
  list-style: none;
}
