.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.menu__title {
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 800px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin: 24px auto 100px auto;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  display: flex;
  column-gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}
