.recipes {
  margin: 0;
  background-size: cover;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
}
.recipes__title {
  color: #ffffff;
  margin-top: 0px;
  margin-left: 80px;
  padding-top: 100px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  margin: 24px 80px 0px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 0px;
}
.recipes__video-item {
  margin-bottom: 215px;
  margin-top: 80px;
}

.recipes__video-caption {
  margin-top: 24px;
  list-style: none;
  padding: 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
