.page {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100vh;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  background-repeat: no-repeat;
}
.nav {
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  position: relative;
  left: 30px;
  height: 39px;
  width: 105px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin-top: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header__title {
  max-width: 729px;
  margin: 183px 0px 0px 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.6px;
}
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  margin: 28px 0px 0px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__schedule {
  margin-bottom: 40px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.header__address {
  margin-bottom: 40px;
  margin-right: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
.recipes {
  margin: 0;
  background-size: cover;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
}
.recipes__title {
  color: #ffffff;
  margin-top: 0px;
  margin-left: 80px;
  padding-top: 100px;
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  margin: 24px 80px 0px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.recipes__video-item {
  margin-bottom: 215px;
  margin-top: 80px;
}

.recipes__video-caption {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
